# User-specific files or directories
*.suo
*.user
.vs/
.vscode/

# Build results
bin/
obj/
artifacts/

# ReSharper is a .NET coding add-in
_ReSharper*/
/_ReSharper.Caches/
*.[Rr]e[Ss]harper
*.DotSettings.user

# JetBrains Rider IDE
.idea/
riderModule.iml

# Benchmark log files
BenchmarkDotNet.Artifacts/
