# User-specific files or directories
*.suo
*.user
.vs
.vscode

# Build results
[Bb]in/
[Oo]bj/
[Aa]rtifacts/

# ReSharper is a .NET coding add-in
_ReSharper*/
/_ReSharper.Caches/
*.[Rr]e[Ss]harper
*.DotSettings.user

# JetBrains Rider IDE
riderModule.iml
.idea/workspace.xml
.idea/modules.xml
.idea/usage.statistics.xml
.idea/vcs.xml
!.idea/misc.xml
!.idea/libraries/
!.idea/codeStyles/
!.idea/inspectionProfiles/
!.idea/dictionaries/
!.idea/runConfigurations/
